networks:
  bicap-global-net:
    driver: bridge

services:
  auth-db:
    image: mysql:8.0
    container_name: auth-db
    environment:
      - MYSQL_ROOT_PASSWORD=0862264719Phi
      - MYSQL_DATABASE=auth_db
    ports:
      - "3307:3306"
    networks:
      - bicap-global-net
    volumes:
      - ./database/auth-database/init.sql:/docker-entrypoint-initdb.d/01_init.sql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  bicap-message-queue:
    image: rabbitmq:3-management
    container_name: bicap-message-queue
    environment:
      - RABBITMQ_DEFAULT_USER=root
      - RABBITMQ_DEFAULT_PASS=0862264719Phi
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - bicap-global-net

  auth-service:
    build:
      context: ./services/auth-service
    container_name: auth-service
    depends_on:
      auth-db:
        condition: service_healthy
      bicap-message-queue:
        condition: service_started
    environment:
      - spring.datasource.url=jdbc:mysql://auth-db:3306/auth_db
      - spring.datasource.username=root
      - spring.datasource.password=0862264719Phi
      - spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
      - SPRING_RABBITMQ_HOST=bicap-message-queue
      - SPRING_RABBITMQ_USERNAME=root
      - SPRING_RABBITMQ_PASSWORD=0862264719Phi
      - BICAP_APP_JWTSECRET=YmljYXAtc2VjcmV0LWtleS1mb3Itand0LWF1dGhlbnRpY2F0aW9uCg==
      - BICAP_APP_JWTEXPIRATIONMS=86400000
    ports:
      - "8088:8080"
    networks:
      - bicap-global-net

  farm-production-db:
    image: mysql:8.0
    container_name: farm-production-db
    environment:
      - MYSQL_ROOT_PASSWORD=0862264719Phi
      - MYSQL_DATABASE=farm_production_db
    ports:
      - "3308:3306"
    networks:
      - bicap-global-net
    # volumes:
    #   - ./database/farm-production-database/farm-management.sql:/docker-entrypoint-initdb.d/01_init.sql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  farm-production-service:
    build:
      context: ./services/farm-production-service
    container_name: farm-production-service
    depends_on:
      farm-production-db:
        condition: service_healthy
      bicap-message-queue:
        condition: service_started
    environment:
      - spring.datasource.url=jdbc:mysql://farm-production-db:3306/farm_production_db
      - spring.datasource.username=root
      - spring.datasource.password=0862264719Phi
      - spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
      - SPRING_RABBITMQ_HOST=bicap-message-queue
      - SPRING_RABBITMQ_USERNAME=root
      - SPRING_RABBITMQ_PASSWORD=0862264719Phi
      - BICAP_APP_JWTSECRET=YmljYXAtc2VjcmV0LWtleS1mb3Itand0LWF1dGhlbnRpY2F0aW9uCg==
      - BICAP_APP_JWTEXPIRATIONMS=86400000
    ports:
      - "8081:8081"
    networks:
      - bicap-global-net

  trading-order-db:
    image: mysql:8.0
    container_name: trading-order-db
    environment:
      - MYSQL_ROOT_PASSWORD=0862264719Phi
      - MYSQL_DATABASE=bicap_order_db
    ports:
      - "3309:3306"
    networks:
      - bicap-global-net
    volumes:
      - ./database/order-database/bicap_order_db.sql:/docker-entrypoint-initdb.d/01_bicap_order_db.sql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  trading-order-service:
    build:
      context: ./services/trading-order-service
    container_name: trading-order-service
    depends_on:
      trading-order-db:
        condition: service_healthy
      bicap-message-queue:
        condition: service_started
    environment:
      - spring.datasource.url=jdbc:mysql://trading-order-db:3306/bicap_order_db
      - spring.datasource.username=root
      - spring.datasource.password=0862264719Phi
      - spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
      - SPRING_RABBITMQ_HOST=bicap-message-queue
      - SPRING_RABBITMQ_USERNAME=root
      - SPRING_RABBITMQ_PASSWORD=0862264719Phi
      - BICAP_APP_JWTSECRET=YmljYXAtc2VjcmV0LWtleS1mb3Itand0LWF1dGhlbnRpY2F0aW9uCg==
      - BICAP_APP_JWTEXPIRATIONMS=86400000
    ports:
      - "8082:8081"
    networks:
      - bicap-global-net

  admin-service:
    build:
      context: ./services/admin_service
    container_name: admin-service
    depends_on:
      auth-db:
        condition: service_healthy
      bicap-message-queue:
        condition: service_started
      farm-production-service:
        condition: service_started
      trading-order-service:
        condition: service_started
    environment:
      - spring.datasource.url=jdbc:mysql://auth-db:3306/auth_db
      - spring.datasource.username=root
      - spring.datasource.password=0862264719Phi
      - spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
      - SPRING_RABBITMQ_HOST=bicap-message-queue
      - SPRING_RABBITMQ_USERNAME=root
      - SPRING_RABBITMQ_PASSWORD=0862264719Phi
      - BICAP_APP_JWTSECRET=YmljYXAtc2VjcmV0LWtleS1mb3Itand0LWF1dGhlbnRpY2F0aW9uCg==
      - FARM_SERVICE_URL=http://farm-production-service:8081
      - TRADING_ORDER_SERVICE_URL=http://trading-order-service:8081
    ports:
      - "8085:8085"
    networks:
      - bicap-global-net

  retailer-web:
    build:
      context: ./clients/web-app/retailer-web
    container_name: retailer-web
    depends_on:
      - kong-gateway
    environment:
      - AUTH_SERVICE_URL=http://kong-gateway:8000/api/auth
      - AUTH_SERVICE_URL_UPDATE=http://kong-gateway:8000/api/update
      - NODE_ENV=development
      - RABBITMQ_URL=amqp://root:0862264719Phi@bicap-message-queue:5672
      - FARM_API_URL=http://farm-production-service:8081/api/farm-features
      - MARKETPLACE_API_PATH=http://kong-gateway:8000/api/marketplace-products
      - FARMING_SEASONS_API_PATH=http://kong-gateway:8000/api/farming-seasons
      - API_GATEWAY_BASE_URL=http://localhost:8000
    ports:
      - "3000:3000"
    networks:
      - bicap-global-net

  admin-web:
    build:
      context: ./clients/web-app/admin-web
    container_name: admin-web
    depends_on:
      - kong-gateway
    environment:
      - AUTH_SERVICE_URL=http://kong-gateway:8000/api/auth
      - AUTH_SERVICE_URL_UPDATE=http://kong-gateway:8000/api/update
      - NODE_ENV=development
      - RABBITMQ_URL=amqp://root:0862264719Phi@bicap-message-queue:5672
      - FARM_API_URL=http://farm-production-service:8081/api/farm-features
      - MARKETPLACE_API_PATH=http://kong-gateway:8000/api/marketplace-products
      - FARMING_SEASONS_API_PATH=http://kong-gateway:8000/api/farming-seasons
      - API_GATEWAY_BASE_URL=http://localhost:8000
    ports:
      - "3001:3001"
    networks:
      - bicap-global-net
    
  farm-management-web: 
    build:
      context: ./clients/web-app/farm-management-web
    container_name: farm-management-web
    depends_on:
      - kong-gateway
    environment:
      - AUTH_SERVICE_URL=http://kong-gateway:8000/api/auth
      - AUTH_SERVICE_URL_UPDATE=http://kong-gateway:8000/api/update
      - NODE_ENV=development
      - RABBITMQ_URL=amqp://root:0862264719Phi@bicap-message-queue:5672
      - FARM_API_URL=http://farm-production-service:8081/api/farm-features
      - MARKETPLACE_API_PATH=http://localhost:8000/api/marketplace-products
      - FARMING_SEASONS_API_PATH=http://localhost:8000/api/farming-seasons
      - API_GATEWAY_BASE_URL=http://localhost:8000
    ports:
      - "3002:3002"
    networks:
      - bicap-global-net

  shipping-manager-web:
    build: 
      context: ./clients/web-app/shipping-manager-web
    container_name: shipping-manager-web
    depends_on:
      - kong-gateway
    environment:
      - AUTH_SERVICE_URL=http://kong-gateway:8000/api/auth
      - AUTH_SERVICE_URL_UPDATE=http://kong-gateway:8000/api/update
      - NODE_ENV=development
      - RABBITMQ_URL=amqp://root:0862264719Phi@bicap-message-queue:5672
      - FARM_API_URL=http://kong-gateway:8000/api/farm-features
      - MARKETPLACE_API_PATH=http://kong-gateway:8000/api/marketplace-products
      - FARMING_SEASONS_API_PATH=http://kong-gateway:8000/api/farming-seasons
      - API_GATEWAY_BASE_URL=http://localhost:8000
    ports:
      - "3003:3003"
    networks:
      - bicap-global-net 

  kong-gateway:
    image: kong:latest
    container_name: kong-gateway
    environment:
      - KONG_DATABASE=off
      - KONG_DECLARATIVE_CONFIG=/usr/local/kong/declarative/kong.yml
      - KONG_PROXY_ACCESS_LOG=/dev/stdout
      - KONG_ADMIN_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_LISTEN=0.0.0.0:8001
      - KONG_LOG_LEVEL=debug  
    ports:
      - "8000:8000"
      - "8001:8001"
    networks:
      - bicap-global-net
    volumes:
      - ./api-gateway/kong.yml:/usr/local/kong/declarative/kong.yml
