name: Build and Push Docker Images

on:
  workflow_dispatch:

jobs:
  build-and-push-auth-database:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push auth-database image
        uses: docker/build-push-action@v5
        with:
          context: ./database/auth-database
          push: true
          tags: nguyenledaiphi/bicap:auth-database
          

  build-and-push-auth-service:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push auth-service image
        uses: docker/build-push-action@v5
        with:
          context: ./services/auth-service
          push: true
          tags: nguyenledaiphi/bicap:auth-service
